.input-toggle {
  user-select: none;
  border: solid 2px #c0c0c0;
  border-radius: 8px;
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  line-height: 1;
  display: flex;
  gap: 0.6em;
  height: 2.762em;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border 0.25s;

  &:hover {
    border: solid 2px cornflowerblue;
  }
  &.active {
    border: solid 2px black;
  }
   
  & > input {
    cursor: pointer;
    outline: none;

    &:focus {
      outline: unset;
    }
  }
}

