.input-toggle {
  user-select: none;
  border-style: solid; 
  border-width: 2px;
  border-color: #eee;
  border-radius: 8px;
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  line-height: 1;
  display: flex;
  gap: 0.6em;
  height: 2.762em;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  
  &.smaller {
    font-size: 0.8em;
    border-width: 1px;
  }

  &:hover {
    border-color: cornflowerblue;
  }
  &.active {
    border-color: #666;
  }
   
  & > input {
    cursor: pointer;
    outline: none;

    &:focus {
      outline: unset;
    }
  }
}

