.input-textarea {
  background-color: #1a1a1a;
  height: 190px;
  width: 720px;
  position: relative;

  &.disabled::before {
    border: solid 2px #eee;
    background-color: #0001;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 5px 1em;
    font-weight: 600;
  }

  &.valid::after {
    content: 'Valid';
    background-color: #84cb84;
  }

  &.invalid::after {
    content: 'Invalid';
    background-color: #ff9797;
  }

  .cm-editor.cm-focused {
    outline: none;
  }

  .copy-button {
    border: none;
    background: none;
    text-align: center;
    vertical-align: center;
    line-height: 1;
    padding: 0;
    font-size: 1.6em;
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .input-textarea {
    width: 100%;
  }
}

