* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}

html {
  background: #eef9ff;
  background: linear-gradient(340deg, oklch(0.95 0.02 213) 0%, oklch(1 0 0) 50%, oklch(0.95 0.02 184) 100%);
  background-attachment: fixed;
}

main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  max-width: 720px;
  min-width: 320px;
}

header, nav, article, section, footer {
  width: 100%;
}

header {
  text-align: center;
}

nav {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}

article {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;

  background: #ffff;
  border-radius: 1rem;
  padding: 1rem;
  outline: solid 1px oklch(0.9 0.04 213);
}

section {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.nav-article-bar {
  width: 100%;
}

.hidden {
  display: none;
}
