:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
    color: #747bff;
}

p, span {
  font-size: 1.2em;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: solid 2px #c0c0c0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border 0.25s;
}
button:hover {
  border: solid 2px cornflowerblue;
}
button.active {
  border: solid 2px black;
}

input, select {
  border-radius: 8px;
  outline: solid 2px #c0c0c0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  transition: outline 0.25s;
}
input:hover, select:hover {
  outline: solid 2px cornflowerblue;
}
input:focus, select:focus {
  outline: solid 2px black;
}

.input-textarea {
  position: relative;
  border-radius: 8px;

  &::before {
    transition: border 0.25s;
    content: '';
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    border: solid 2px #c0c0c0;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1;
  }

  &:hover::before {
    border: solid 2px cornflowerblue;
  }

  &:has(.cm-focused)::before {
    border: solid 2px black;
  }
}

